extends layout

block content
	div.columncontainer
		div#infopanel
			div#placetitle #{ settings.place.name }
				br
				em #{settings.place.subtitle }

			if settings.place.notes && settings.place.notes.length
				div.section#notes
					strong Note#{ settings.place.notes.length > 1 ? "s" : "" }
					each note in settings.place.notes
						div.indent !{note}

			div.section#description
				strong Description
				br
				span.indent.inlineFlexMiddle Activities: !{ settings.place.activityIconsHtml }
				div.indent Trail Distance: #{ settings.place.totalMiles } miles

			div.imgsection#photos
				strong Photos
				ul#thumbs
					each xsImagePath, idx in settings.place.xsImagePaths
						- var largeImagePath = settings.place.lgImagePaths[idx];
						li
							a.imgLink.pointer(href=largeImagePath, data-img-url=largeImagePath)
								img(src=xsImagePath)

			if settings.place.maps && settings.place.maps.length
				div.section#map
					strong Trail Maps
					br
					each mapEntry in settings.place.maps
						- var mapUrl = siteContent.mapDirectory + mapEntry[1];
						div.indent
							a.imgLink.pointer(href=mapUrl, data-img-url=mapUrl)
								|#{mapEntry[0]}

			div.section#directions
				strong Driving Directions
				each location in settings.place.locations
					div.indent
						a(target="_blank" href=util.buildGMapsLink(settings.place.name, location)) #{ location[0] }
				
			div.section#moreinfo
				strong More Information
				each link in settings.place.links
					div.indent
						a(target="_blank" href=link[1]) #{ link[0] }

		div.imageviewcontainer
			div#imageview(style='background-image: url("' + settings.place.lgImagePaths[0] + '")')


	script.
		$(function() {
			$(".imgLink").click(setImgFromDataOfClickedElement);
		});

		function setImgFromDataOfClickedElement(e) {
			var $mapLink = $(this);
			var mapUrl = $mapLink.data('img-url');
			var mapExt = mapUrl.split('.').pop().toLowerCase();
			var $imageview = $('#imageview');

			// Clear current elements from image view
			$imageview.empty();
			
			// Set new view
			if (mapExt == 'pdf') {
				$imageview.append("<embed src='" + mapUrl + "' type='application/pdf'></embed>");
			} else if (mapExt == 'jpg' || mapExt == 'png') {
				$imageview.css('background-image', 'url(' + mapUrl + ')');
			} else {
				console.error("Unexpected image extension in " + mapUrl);
			}

			e.preventDefault();
		}